<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <a href="/budgets"><button type="reset">Back</button></a>
    <div class="container">
      <h1>Add New Budget Item</h1>
      <form action="/budgets" method="post">
        <input type="text" name="date" id="" required placeholder="date" />
        <br />
        <input type="text" name="name" id="" required placeholder="name" />
        <br />
        <input type="text" name="from" id="" required placeholder="from" />
        <br />
        <input
          type="number"
          name="amount"
          id=""
          required
          placeholder="amount"
        />
        <br />
        <!-- add form element for tags -->
        <input type="submit" value="Add Budget Item" />
      </form>
    </div>
  </body>
</html>
